AZURE_AD_CLIENT_ID=
AZURE_AD_CLIENT_SECRET=
AZURE_AD_TENANT_ID=
NEXTAUTH_SECRET=

APP_URL=
DO_CDN_URL=

NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=

NEXT_PUBLIC_STRAPI_API_URL=http://localhost:1337
STRAPI_ACCESS_TOKEN= #empty if using docker compose

NEXT_PUBLIC_APP_ENV=test